body {
  margin: 0;
  background-color: #222;
}

/**** Navigation Bar ****/

#phoneicon {
  text-align: right;
  margin: 0;
  right: 0;
  padding-right: 40px;
  padding-top: 5px;
  position: fixed;
  z-index: 50;
}

.above-nav {
  background-color: #6a982f;
  margin: 0;
  padding-top: 5px;
  color: #1C1C1C;
  height: 25px;
  width: 100%;
  position: fixed;
}

.nav-bar {
  background: #222;
  height: 96px;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.4);
}

.nav-bar-items {
  list-style: none;
  text-align: right;
  padding-right: 30px;
  display: inline-block;
  margin-top: 35px;
}

.nav-logo {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 100px;
  margin-top: 30px;
  margin-left: 20px;
  color: #1C1C1C;
  text-decoration: none;
  font-size: 36px;
  z-index: 3;
  background-color: #6a982f;
  height: 150px;
  width: 200px;
}

.nav-bar-ul {
  position: absolute;
  right: 0;
}

.nav-links {
  text-decoration: none;
  color: #fff;
  font-size: 16pt;
  padding: 10px;
  font-family: 'Saira Semi Condensed', sans-serif;

}
.nav-links:hover {
  color: #FE4444;
}
/****  ****/

.content-container {
  margin-top: 96px;
}

/**** Slideshow CSS ****/

.container-img {
  display: block;
  overflow: hidden;
  background-color: #2F3030;
}

.slider-image {
  display: block;
  height: 550px;
  width: 100%;
  object-fit: cover;
}

.slick-next {
  right: 15px;
}

.slick-prev {
  left: 15px;
  z-index: 1;
}
/****  ****/

.jumboRant {
  font-size: 36pt;
  color: #fff;
  margin: auto;
  display: table;
  text-align: center;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.wrapper {
  width: 100%;
  height: 400px;
  background-color: #6a982f;
  position: relative;
}

.container-box {
  width: 70%;
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box {
  height: 300px;
  width: 300px;
  background-color: black;
}
